@model HotelManagementWeb.Models.Booking

@{
    ViewBag.Title = "BookingRoom";
    Html.EnableClientValidation(true);
}

<h2>BookingRoom</h2>

@using (Html.BeginForm("BookingRoom","Home",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.CustomerName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
            @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookingFrom, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" id="BookingFrom" name="BookingFrom" value="@Model.BookingFrom.ToString("yyyy-MM-dd")" class="form-control" readonly />
            @Html.ValidationMessageFor(model => model.BookingFrom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookingTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" id="BookingTo" name="BookingTo" value="@Model.BookingTo.ToString("yyyy-MM-dd")" class="form-control" readonly />
            @Html.ValidationMessageFor(model => model.BookingTo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.CustomerEmail)
        @Html.HiddenFor(model => model.AssignRoomId)
        @Html.HiddenFor(model => model.MaxCapacity)
        @Html.HiddenFor(model => model.TotalAmount)
        @Html.HiddenFor(model => model.NumberOfDays)
        @Html.HiddenFor(model => model.RoomPrice)
        @Html.HiddenFor(model => model.ValueAddedTax)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoOfMembers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoOfMembers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NoOfMembers, (string)ViewData["NoOfMembers"], new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <table class="table table-responsive">
        <tr><td>Cost Per Night</td><td>@Model.RoomPrice</td></tr>
        <tr><td>Number of Days</td><td> @Model.NumberOfDays</td></tr>
        <tr><td>VAT(18%) </td><td>@Model.ValueAddedTax per day
             
             </td></tr>
    </table>
    <hr class="hr hr8 hr-double hr-dotted"></hr>

    <div class="row">
        <div class="col-sm-5 pull-right">
            <h4 class="pull-right">
                Total amount :
                <span class="text-danger">₹@Model.TotalAmount</span>
            </h4>
        </div>
    </div>

    <div class="form-group pull-right">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay Now" class="btn btn-info" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
