@model HotelManagementWeb.Models.CheckInOut

@{
    ViewBag.Title = "Home Page";
}

<style>
    .primary-btn {
        background: #f8b600;
       color:white;
    }
</style>



<center>

    <h1 class="display-1">Hotel Management System</h1>


    <div class="container" style="margin-top:50px">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {

            <div class="form-group col-md-6 ">
                @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckIn, (string)ViewData["CheckInError"], new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group  col-md-6 ">
                @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckOut, (string)ViewData["CheckOutError"], new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <input class="btn mt-3 bg-w sm:mt-0 py-2 px-5 md:py-3 md:px-6 bg-indigo-700 hover:bg-indigo-600 font-bold text-white md:text-lg rounded-lg shadow-md " type="submit" value="Click here to Book" />
            </div>

        }
    </div>
</center>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}