@model HotelManagementWeb.Models.CheckInOut

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<style>
    .primary-btn {
        background: #f8b600;
        color: white;
    }
    
</style>
<div class=" m-0">


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
            <div class=" item active">
                <img src="~/Content/slider1.jpg" alt="First Slide" style="width:100%; min-height:300px;max-height:600px; ">
                <div class="carousel-caption">
                    <p class="fw-bolder" >A Best Place To Enjoy Your Life</p>

                </div>
            </div>
            <div class=" item">
                <img src="~/Content/slider2.jpg" alt="second slide" style="width:100%; min-height:300px;max-height:600px; ">
                <div class="carousel-caption">
                    <p>Reserve Room for Family Vacation</p>

                </div>

            </div>

            <div class=" item">
                <img src="~/Content/slider3.jpg" alt="Third slide" style="width:100%; min-height:300px;max-height:600px; ">
                <div class="carousel-caption">
                    <p>Make Your Vacation Comfortable</p>
                </div>

            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<center>
    <h1 class="mt-16 text-4xl font-semibold text-gray-700 ">
        Check Availability
    </h1>
   


    <div class="container" style="margin-top:50px">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {

            <div class="form-group col-md-6 ">
                @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="">
                    @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckIn, (string)ViewData["CheckInError"], new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group  col-md-6 ">
                @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CheckOut, (string)ViewData["CheckOutError"], new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <input class="btn bg-purple-700 bg-indigo-700 hover:bg-purple-600 font-bold text-white md:text-lg rounded-lg shadow-md " type="submit" value="Click here to Book" />
            </div>

        }
    </div>
</center>
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}