@model HotelManagementWeb.Models.Room

<style>
    .onhover:hover {
        box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    }
    


</style>

    <div class="col-md-4 font-sans " style="margin-top:30px">
        <div class="flex">
            <div class="max-w-md md:max-w-2xl px-2 onhover" >
                <div class="bg-white shadow-xl rounded-lg overflow-hidden md:flex  onSmallDevice" style="border-bottom: 3px solid rgb(48, 63, 159); height: 200px; width: 360px ">
                   <div class="bg-cover bg-bottom h-56 md:h-auto md:w-56 onSmallImage" style="background-image: url(/RoomImages/@Model.RoomImage)">
                    </div>
                    <div>
                        <div class="p-4 md:p-5">
                            <p class="font-bold text-xl md:text-2xl ">@Model.Type - @Model.RoomNumber<span style="margin-left:1px;" class="pull-right">₹@Model.RoomPrice</span>    </p>
                            <p class="text-gray-700 md:text-lg">@Model.RoomDescription</p>
                        </div>
                        <div class="p-4 md:p-5 bg-gray-100">
                            <div class="sm:flex sm:justify-between sm:items-center">
                                <div>
                                    <div class="text-lg text-gray-700"><span class="text-gray-900 font-bold">@Model.RoomCapacity  </span>person*</div>
                                    <div class="flex items-center">

                                    </div>
                                </div>
                                <a href="@Url.Action("BookingRoom",Model)">
                                    <button class="mt-3 sm:mt-0 py-2 px-5 md:py-3 md:px-6 bg-indigo-700 hover:bg-indigo-600 font-bold text-white md:text-lg rounded-lg shadow-md" style="height:35px" >Book now</button>
                                </a></div>
                            <div class="mt-3 text-gray-600 text-sm md:text-base">*Prices may vary depending on selected date.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
