@model IEnumerable<HotelManagementWeb.Models.Booking>
@{
    ViewBag.Title = "UserBookings";
}
<style>

    .card {
        border-radius: 15px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 14px 80px 18px 36px;
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }



        .card img {
            position: absolute;
            top: 20px;
            right: 15px;
            max-height: 120px;
        }

    .card-1 {
        background-repeat: no-repeat;
        background-position: right;
        background-size: 135px;
    }
    h1 {
        font: bold 100% sans-serif;
        letter-spacing: 0.5em;
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: larger
    }

    div.container {
        margin-top: 20px;
        border-radius: 10px;
    }

    .invoice-ribbon {
        width: 85px;
        height: 88px;
        overflow: hidden;
        position: absolute;
        top: -1px;
        right: 14px;
    }
   
    .ribbon-inner {
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        position: relative;
        padding: 7px 0;
        left: -5px;
        top: 11px;
        width: 120px;
        background-color: #66c591;
        font-size: 15px;
        color: #fff;
    }

    .card img{
        position:relative;
    }

</style>

<center class="mt-10 ">
    <div class="container-fluid">
        <div class="container  border-r-0 bg-purple-700">
            <h1 class="text-white">My Bookings</h1>
        </div>
        </div>
        <h2>@ViewBag.NoBookings</h2>

</center>

@if (Model.ToList().Count != 0)
{

<div class="container-fluid  bg-orange-200 " style="margin-left:50px;margin-right:50px"; >
    
    @foreach (var data in Model)
    {
        <div class="col-md-5 col-lg-4 mt-10">
            <div class="card card-1  " style="min-width:300px;background-image:url(@data.QRCode); border-bottom: 3px solid rgb(126 34 206);">
                <div class="invoice-ribbon"><div class="ribbon-inner">Booked</div></div>
                @*<img src="https://image.flaticon.com/icons/png/512/488/488682.png" class=" h-16 pull-left" />*@
                <h4 class="mt-2 mb-10 " style="font-weight:bold">Room Number - @data.RoomNumber</h4>
                <hr />
                <h5> CheckIn:  @data.BookingFrom.ToShortDateString()</h5>
                <h5>CheckOut:@data.BookingTo.ToShortDateString()</h5>
                <h5>No.Of Persons : @data.NoOfMembers</h5>
                <p style="font-weight:bold">OrderID :#@data.BookingId</p>

                @*<hr class="m-5"/>*@
                <h4 class="btn bg-purple-600 text-white">Amount-Paid : @data.TotalAmount</h4>
                <h6 class="text-muted">To cancel the room - contactUs   </h6>
            </div>

        </div>
    }

</div>}



