@model IEnumerable<HotelManagementWeb.Models.Booking>
@{
    ViewBag.Title = "UserBookings";
}
<style>

    .card {
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        padding: 14px 80px 18px 36px;
        cursor: pointer;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }

       

        .card img {
            position: absolute;
            top: 20px;
            right: 15px;
            max-height: 120px;
        }

    .card-1 {
      
        background-repeat: no-repeat;
        background-position: right;
       
        background-size: 130px;
    }

    
  
</style>

<center class="mt-20">
    <h2>@ViewBag.NoBookings</h2>
    <h3 class="text-gray-900 font-semibold justify-center">My Bookings</h3><br />
</center>



<div class="container-fluid well " style="margin-left:50px;margin-right:50px">

    @foreach (var data in Model)
    { 
        <div class="col-md-5 col-lg-4 mt-10" >
            <div class="card card-1  " style="min-width:300px;background-image:url(@data.QRCode)">

                <h4 class="mt-2 mb-10 " style="font-weight:bold">Room Number - @data.RoomNumber<span> <img src="https://image.flaticon.com/icons/png/512/488/488682.png" class="h-16" /></span> </h4>
                <hr />
                <h5> CheckIn:  @data.BookingFrom.ToShortDateString()</h5>
                <h5>CheckOut:@data.BookingTo.ToShortDateString()</h5>
                <h5>No.Of Persons : @data.NoOfMembers</h5>
                <p style="font-weight:bold">OrderID :#@data.BookingId</p>
                
                <hr class="m-5"></hr>
                <h4 class="btn bg-purple-600 text-white">Amount-Paid : @data.TotalAmount</h4>
                @*<div>
            <img src="@data.QRCode" class=" " />
        </div>*@
            </div>

        </div>
    }

</div>



